/* General Page Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Main Content Container */
.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.01);
}

/* Header Styling */
h1, h2 {
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Form Styling */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 80%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

/* Footer Styling */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    margin: 5px 0;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #3498DB;
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container, .chart-container {
        width: 95%;
    }
}

/* Navbar Styling */
.navbar {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navbar-title {
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #333;
}

.navbar a.active {
    background-color: #555;
}
