<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>User Feedback Summary</h1>
    <nav class="navbar">
        <a href="{{ url_for('home') }}" class="{{ 'active' if current_path == url_for('home') else '' }}">Home</a>
        <a href="{{ url_for('charts') }}" class="{{ 'active' if current_path == url_for('charts') else '' }}">Charts</a>
        <a href="{{ url_for('feedback') }}" class="{{ 'active' if current_path == url_for('feedback') else '' }}">Feedback</a>
        <a href="{{ url_for('recommendations') }}" class="{{ 'active' if current_path == url_for('recommendations') else '' }}">Recommendations</a>
    </nav>
    
    
    <div class="table-container">
        {{ table|safe }}
    </div>
</body>
</html>
